<div class="fixed inset-0">
  <img
    src="../../../../assets/img/bg2.jpg"
    alt="Background"
    class="w-full h-full object-cover"
  />
  <!-- Dark Overlay -->
  <div class="absolute inset-0 bg-cust_grey_dark opacity-60"></div>
</div>

<div class="relative z-10 min-h-screen flex items-center justify-center mt-10">
  <div
    class="card bg-cust_grey_dark shadow-md rounded-lg p-6 w-full max-w-md transform scale-90 animate-fade-in"
  >
    <h2 class="text-xl font-bold text-center text-cust_white mb-4">
      Add Vehicle
    </h2>

    <form [formGroup]="postVehicleForm">
      <!-- Image Upload Input -->
      <div class="mb-4">
        <label
          *ngIf="selectedFile"
          for="vehicle_image"
          class="block mb-2 text-sm font-medium text-cust_white"
        >
          <img class="profile" [src]="imagePreview" alt="profile" />
        </label>
        <input
          class="block w-full text-sm text-cust_grey border border-cust_grey_dark rounded-lg cursor-pointer bg-cust_background focus:outline-none"
          placeholder="Upload Vehicle Image"
          accept="image/x-png,image/gif,image/jpeg"
          (change)="onFileSelected($event)"
          id="vehicle_image"
          type="file"
        />
      </div>

      <!-- Vehicle Brand Dropdown -->
      <div class="mb-4">
        <label
          for="vehicle-brand"
          class="block text-sm font-medium text-cust_white"
          >Select Vehicle Brand</label
        >
        <select
          id="vehicle-brand"
          class="mt-1 block w-full border border-cust_grey_dark rounded-lg p-2 bg-cust_background text-cust_white focus:border-cust_pink focus:ring focus:ring-cust_pink/40"
          formControlName="brand"
        >
          <option *ngFor="let brand of listOfBrands" [value]="brand">
            {{ brand }}
          </option>
        </select>
      </div>

      <!-- Vehicle Model Input -->
      <div class="mb-4">
        <label
          for="vehicle-model"
          class="block text-sm font-medium text-cust_white"
          >Vehicle Model</label
        >
        <input
          type="text"
          id="vehicle-model"
          class="mt-1 block w-full border border-cust_grey_dark rounded-lg p-2 bg-cust_background text-cust_white focus:border-cust_pink focus:ring focus:ring-cust_pink/40"
          placeholder="Enter Vehicle Model"
          formControlName="model"
        />
      </div>

      <!-- Vehicle Type Dropdown -->
      <div class="mb-4">
        <label
          for="vehicle-type"
          class="block text-sm font-medium text-cust_white"
          >Select Type</label
        >
        <select
          id="vehicle-type"
          class="mt-1 block w-full border border-cust_grey_dark rounded-lg p-2 bg-cust_background text-cust_white focus:border-cust_pink focus:ring focus:ring-cust_pink/40"
          formControlName="type"
        >
          <option *ngFor="let type of listOfType" [value]="type">
            {{ type }}
          </option>
        </select>
      </div>

      <!-- Transmission Dropdown -->
      <div class="mb-4">
        <label
          for="transmission"
          class="block text-sm font-medium text-cust_white"
          >Select Transmission</label
        >
        <select
          id="transmission"
          class="mt-1 block w-full border border-cust_grey_dark rounded-lg p-2 bg-cust_background text-cust_white focus:border-cust_pink focus:ring focus:ring-cust_pink/40"
          formControlName="transmission"
        >
          <option
            *ngFor="let transmission of listOfTransmission"
            [value]="transmission"
          >
            {{ transmission }}
          </option>
        </select>
      </div>

      <!-- Year Picker Dropdown -->
      <div class="mb-4">
        <label
          for="year-picker"
          class="block text-sm font-medium text-cust_white"
          >Vehicle Year</label
        >
        <select
          id="year-picker"
          class="mt-1 block w-full border border-cust_grey_dark rounded-lg p-2 bg-cust_background text-cust_white focus:border-cust_pink focus:ring focus:ring-cust_pink/40"
          formControlName="year"
        >
          <option *ngFor="let year of listOfYears" [value]="year">
            {{ year }}
          </option>
        </select>
      </div>

      <!-- Color Dropdown -->
      <div class="mb-4">
        <label
          for="vehicle-color"
          class="block text-sm font-medium text-cust_white"
          >Select Color</label
        >
        <select
          id="vehicle-color"
          class="mt-1 block w-full border border-cust_grey_dark rounded-lg p-2 bg-cust_background text-cust_white focus:border-cust_pink focus:ring focus:ring-cust_pink/40"
          formControlName="color"
        >
          <option *ngFor="let color of listOfColor" [value]="color">
            {{ color }}
          </option>
        </select>
      </div>

      <!-- Rent Price Input -->
      <div class="mb-4">
        <label
          for="rent-price"
          class="block text-sm font-medium text-cust_white"
          >Rent Price</label
        >
        <input
          type="text"
          id="rent-price"
          class="mt-1 block w-full border border-cust_grey_dark rounded-lg p-2 bg-cust_background text-cust_white focus:border-cust_pink focus:ring focus:ring-cust_pink/40"
          placeholder="Enter Rent Price"
          formControlName="price"
        />
      </div>

      <!-- Description Textarea -->
      <div class="mb-4">
        <label
          for="vehicle-description"
          class="block text-sm font-medium text-cust_white"
          >Description</label
        >
        <textarea
          id="vehicle-description"
          class="mt-1 block w-full border border-cust_grey_dark rounded-lg p-2 bg-cust_background text-cust_white focus:border-cust_pink focus:ring focus:ring-cust_pink/40"
          rows="3"
          placeholder="Enter Vehicle Description"
          formControlName="description"
        ></textarea>
      </div>

      <button
        type="button"
        class="w-full bg-cust_pink hover:bg-cust_pink/80 text-cust_white font-semibold py-2 px-4 rounded-lg"
        (click)="postVehicle()"
      >
        Add Vehicle
      </button>
    </form>
  </div>
</div>
