<div class="fixed inset-0">
  <img
    src="../../../../../assets/img/bg1.jpg"
    alt="Background"
    class="w-full h-full object-cover"
  />
  <!-- Dark Overlay -->
  <div class="absolute inset-0 bg-black opacity-60"></div>
</div>

<div
  class="mt-32 w-full max-w-4xl mx-auto relative z-10 text-cust_grey rounded-lg backdrop-blur-sm bg-opacity-90 border border-cust_pink shadow-lg"
>
  <div class="card rounded-lg shadow-lg p-6">
    <!-- Search Form -->
    <div
      [formGroup]="searchCarForm"
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
    >
      <!-- Brand Select -->
      <div class="flex flex-col space-y-1">
        <label for="brand" class="text-white font-medium">Brand:</label>
        <div class="relative">
          <select
            id="brand"
            formControlName="brand"
            class="card1 w-full px-4 py-2 rounded-md shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
          >
            <option value="">Select a Brand</option>
            <option *ngFor="let brand of listOfBrands" value="{{ brand }}">
              {{ brand }}
            </option>
          </select>
          <div
            class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none"
          >
            <svg
              class="w-4 h-4 text-gray-400"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              ></path>
            </svg>
          </div>
        </div>
      </div>

      <!-- Type Select -->
      <div class="flex flex-col space-y-1">
        <label for="type" class="text-white font-medium">Type:</label>
        <div class="relative">
          <select
            id="type"
            formControlName="type"
            class="card1 w-full px-4 py-2 rounded-md shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
          >
            <option value="">Select a Type</option>
            <option *ngFor="let type of listOfType" value="{{ type }}">
              {{ type }}
            </option>
          </select>
          <div
            class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none"
          >
            <svg
              class="w-4 h-4"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              ></path>
            </svg>
          </div>
        </div>
      </div>

      <!-- Color Select -->
      <div class="flex flex-col space-y-1">
        <label for="color" class="text-white font-medium">Color:</label>
        <div class="relative">
          <select
            id="color"
            formControlName="colour"
            class="card1 w-full px-4 py-2 rounded-md shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
          >
            <option value="">Select a Color</option>
            <option *ngFor="let colour of listOfColor" value="{{ colour }}">
              {{ colour }}
            </option>
          </select>
          <div
            class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none"
          >
            <svg
              class="w-4 h-4 text-gray-400"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              ></path>
            </svg>
          </div>
        </div>
      </div>

      <!-- Transmission Select -->
      <div class="flex flex-col space-y-1">
        <label for="transmission" class="text-white font-medium"
          >Transmission:</label
        >
        <div class="relative">
          <select
            id="transmission"
            formControlName="transmission"
            class="card1 w-full px-4 py-2 rounded-md shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
          >
            <option value="">Select a Transmission</option>

            <option
              *ngFor="let transmission of listOfTransmission"
              value="{{ transmission }}"
            >
              {{ transmission }}
            </option>
          </select>
          <div
            class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none"
          >
            <svg
              class="w-4 h-4 text-gray-400"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <!-- Search Button -->
    <div class="mt-6">
      <button
        (click)="searchCar()"
        type="button"
        class="w-full bg-black text-white py-3 rounded-md hover:bg-gray-800 transition-colors duration-200 font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 rounded-lg bg-cust_pink text-cust_white hover:bg-opacity-90 transition-opacity duration-200 font-medium text-lg"
      >
        Search Car
      </button>
    </div>
  </div>

  <div
    class="card max-w-3xl mx-auto my-4 bg-white shadow-md rounded-lg overflow-hidden relative z-10"
    *ngFor="let car of cars"
  >
    <div class="md:flex">
      <!-- Car Image -->
      <div class="md:w-1/3">
        <img
          src="{{ car.processedImg }}"
          alt="Car Image"
          class="w-full h-full object-cover"
        />
      </div>

      <!-- Car Details -->
      <div class="md:w-2/3 p-4">
        <!-- Title and Subtitle -->
        <h3 class="text-xl font-semibold text-blue-600">
          {{ car.brand }} - {{ car.name }}
        </h3>
        <p class="text-white">{{ car.brand }} - {{ car.name }}</p>

        <!-- Car Specifications -->
        <div class="my-2 text-sm text-white">
          <span class="font-semibold">Price:</span> ${{ car.price }}
          <span class="mx-2">|</span>
          <span class="font-semibold">Color:</span> {{ car.colour }}
          <span class="mx-2">|</span>
          <span class="font-semibold">Transmission:</span>
          {{ car.transmission }}
          <span class="mx-2">|</span>
          <span class="font-semibold">Type:</span> {{ car.type }}
          <span class="mx-2">|</span>
          <span class="font-semibold">Year:</span> {{ car.year }}
        </div>
      </div>
    </div>
  </div>
</div>
