<div
  class="card flex flex-col justify-center min-h-screen relative px-4 md:px-8"
>
  <div class="fixed inset-0">
    <img
      src="../../../../../assets/img/bg1.jpg"
      alt="Background"
      class="w-full h-full object-cover"
    />
    <div class="absolute inset-0 bg-black opacity-60"></div>
  </div>

  <!-- Table Wrapper with Responsive Breakpoints -->
  <div
    class="relative z-10 max-w-6xl mx-auto w-full lg:w-3/4 bg-opacity-70 backdrop-blur-md"
  >
    <!-- Table Layout for Desktop -->
    <div
      class="hidden md:block overflow-hidden shadow-xl rounded-lg text-cust_white"
    >
      <table class="min-w-full rounded-lg overflow-hidden">
        <!-- Table Header -->
        <thead class="bg-white">
          <tr
            class="bg-gray-900 bg-opacity-75 text-left text-white text-xs sm:text-sm uppercase font-semibold"
          >
            <th class="px-4 py-3 sm:px-6">User</th>
            <th class="px-4 py-3 sm:px-6">Email</th>
            <th class="px-4 py-3 sm:px-6">From</th>
            <th class="px-4 py-3 sm:px-6">To</th>
            <th class="px-4 py-3 sm:px-6">Days</th>
            <th class="px-4 py-3 sm:px-6">Price</th>
            <th class="px-4 py-3 sm:px-6">Status</th>
            <th class="px-4 py-3 sm:px-6">Action</th>
          </tr>
        </thead>

        <!-- Table Body -->
        <tbody
          class="card tbodyHover divide-y divide-gray-200 text-xs sm:text-sm"
        >
          <tr
            *ngFor="let booking of bookings"
            class="transition-colors duration-200"
          >
            <td class="px-4 py-3 sm:px-6 text-white whitespace-nowrap">
              {{ booking.username }}
            </td>
            <td class="px-4 py-3 sm:px-6 text-white whitespace-nowrap">
              {{ booking.email }}
            </td>
            <td class="px-4 py-3 sm:px-6 text-white whitespace-nowrap">
              {{ booking.fromDate }}
            </td>
            <td class="px-4 py-3 sm:px-6 text-white whitespace-nowrap">
              {{ booking.toDate }}
            </td>
            <td class="px-4 py-3 sm:px-6 text-white whitespace-nowrap">
              {{ booking.days }}
            </td>
            <td class="px-4 py-3 sm:px-6 text-white whitespace-nowrap">
              {{ booking.price }}
            </td>
            <td class="px-4 py-3 sm:px-6 text-white whitespace-nowrap">
              <button
                *ngIf="booking.bookCarStatus === 'PENDING'"
                class="cursor-not-allowed"
              >
                {{ booking.bookCarStatus }}
              </button>

              <button
                *ngIf="booking.bookCarStatus === 'APPROVED'"
                class="cursor-not-allowed text-cust_pink"
              >
                {{ booking.bookCarStatus }}
              </button>

              <button
                *ngIf="booking.bookCarStatus === 'REJECTED'"
                class="cursor-not-allowed text-cust_white"
              >
                {{ booking.bookCarStatus }}
              </button>
            </td>
            <td class="px-3 py-2 whitespace-nowrap space-x-2">
              <div class="inline-flex mt-2 mb-2">
                <button
                  (click)="changeBookingStatus(booking.id, 'Approve')"
                  class="bg-cust_pink hover:bg-gray-400 text-gray-800 font-bold py-1 px-4 rounded-l"
                >
                  Accept
                </button>
                <button
                  (click)="changeBookingStatus(booking.id, 'Reject')"
                  class="bg-cust_grey hover:bg-gray-400 text-gray-800 font-bold py-1 px-4 rounded-r"
                >
                  Reject
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-24">
      <!-- Card Layout for Mobile -->
      <div
        *ngFor="let booking of bookings"
        class="md:hidden bg-white bg-opacity-80 shadow-lg rounded-lg p-4 mb-4 text-cust_white"
      >
        <div class="flex justify-between items-center mb-2">
          <h3 class="text-lg font-semibold text-gray-900">Booking Details</h3>
          <span
            class="px-3 py-1 text-xs font-medium rounded-full"
            [ngClass]="{
              'bg-red-100 text-cust_white': booking.bookCarStatus === 'PENDING',
              'bg-green-100 text-cust_pink':
                booking.bookCarStatus === 'APPROVED'
            }"
          >
            {{ booking.bookCarStatus }}
          </span>
        </div>

        <div class="text-sm text-gray-700">
          <p><strong>From:</strong> {{ booking.fromDate }}</p>
          <p><strong>To:</strong> {{ booking.toDate }}</p>
          <p><strong>Days:</strong> {{ booking.days }}</p>
          <p><strong>Price:</strong> ${{ booking.price }}</p>
        </div>
        <div class="inline-flex mt-2 mb-2">
          <button
            (click)="changeBookingStatus(booking.id, 'Approve')"
            class="bg-cust_pink hover:bg-gray-400 text-gray-800 font-bold py-1 px-4 rounded-l"
          >
            Accept
          </button>
          <button
            (click)="changeBookingStatus(booking.id, 'Reject')"
            class="bg-cust_grey hover:bg-gray-400 text-gray-800 font-bold py-1 px-4 rounded-r"
          >
            Reject
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
